button {
	font-family: Roboto, sans-serif;
	border: 0px;
	cursor: pointer;
	background: #028696;
	color: white;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transform: translate3d(0px, 0px, 0px);
	overflow: hidden;
	margin-left: 10px;
	padding: 5px 8px;
	border-bottom: 2px solid #017280;
}

header button:hover {
	border-bottom: 0;
	position: relative;
	top: 2px;
}

button:disabled {
	cursor: default;
	background: #009EB2;
  	color: rgb(4, 134, 150);
}

.message button {
	position: relative;
	height: 23px;
	padding: 0px;
	position: absolute;
	bottom: 14px;
	left: 14px;
	outline: none;
	width: 50px;
	margin-top: 5px;
	background: #00C853;
	margin-left: 0;
	border-bottom: 2px solid #00A946;
}