footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 10px 15px;
  color: white;
  align-items: center;
  background-color: $teal;
}

iframe {
  width: 100px;
  margin-top: 2px;
  margin-left: 10px;
  vertical-align: top;
}
