@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';
@import '~ng-dialog/css/ngDialog.min.css';
@import '~ng-dialog/css/ngDialog-theme-plain.min.css';
@import './config/colors';
@import './config/variables';
@import './config/typography';
@import './utilities/responsive';
@import './buttons';
@import './forms';
@import './landing';
@import './header';
@import './menu';
@import './footer';
@import './board';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-style: italic;

  p {
    margin: 0 auto;
    font-size: 14px;
  }

  footer {
    margin: 3px;
    font-size: 13px;
    line-height: 20px;
    text-align: right;

    &:before {
      content: '\2014';
    }
  }
} 
