{
  "env": {
    "node": true,
     "mocha": true,
     "browser": true
  },
  "globals": {
    "angular": true,
    "inject": true
  },
  "extends": ["airbnb-base", "angular"],
  "rules": {
    "no-param-reassign": [2, {
      "props": false
    }],
    "comma-dangle": 0
  }
}
