<html ng-app="fireideaz">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="'Fun Retro &mdash; ' + boardId">Fun Retro</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="dist/vendor.css">
    <link rel="stylesheet" type="text/css" href="dist/main.css">
    <script src="dist/main.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div ng-include="'components/header.html'"></div>
    <div ng-show="userId !== ''" class="menu">
      <h2>{{boardId}}</h2>
      <label>Sort by</label>
      <select ng-model="sortField">
        <option value="$id">Created date</option>
        <option value="votes">Votes</option>
      </select>
      <button class="pull-right" ng-show="board.columns.length < 6" ng-click="utils.openDialogColumn(this)">New column</button>
      <button class="pull-right delete-button" ng-click="utils.openDialogDeleteCards(this)">Delete cards</button>
    </div>
    <input ng-show="userId !== ''" id="board-context" ng-model="boardContext" ng-change="changeBoardContext()" placeholder="Set the context of the retrospective here..." />
    <div ng-include="'components/mainContent.html'"></div>
    <div ng-include="'components/spinner.html'"></div>
    <div ng-include="'components/newFeatureNotification.html'"></div>
    <div ng-include="'components/mainPage.html'"></div>
    <div ng-include="'components/footer.html'"></div>
  </body>
  <div ng-include="'components/dialogs.html'"></div>
  <div ng-include="'components/userVoice.html'"></div>
  <div ng-include="'components/analytics.html'"></div>
</html>
