<html ng-app="sampleApp">
  <head>
 	<meta charset="UTF-8">
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" type="text/css" href="base.css">
  	<link rel="stylesheet" type="text/css" href="message.css">
	<script src="angular.min.js"></script>
	<script src="firebase.js"></script>
	<script src="angularfire.min.js"></script>
	<script src="script.js"></script>
  </head>
  <body ng-controller="MainCtrl">
  	<header><h1>Firedeaz</h1></header>

  	<div class="message-list" ng-repeat="type in messageTypes">
	    <ul class="column column_{{ type.id }}">
	      <h2>{{type.value}}<a ng-click="addNew(type)" href="javascript:void(0)">+</a></h2>
	      <li class="message" ng-class="{'flip': isEditing}" ng-repeat="message in messages | filter: {type: {id: type.id}}" ng-style="{'top': getHeight(message, $index) }">
	      	<div class="hacker">
		      	<div class="front">
			      	<div class="message-body">
		        		<span>{{message.text}}</span>
		        		<a href="javascript:void(0)" ng-click="isEditing = true;">✎</a>
			        </div>
			        <div class="votes">
			        	<a ng-hide="alreadyVoted(message.$id)" href="javascript:void(0)" ng-click="addVote(message.$id, message.votes)"><img src="like.png" /></a>
			        	<strong>+ {{ message.votes }}</strong>
			        </div>
		        </div>
		        <div class="back">
		        	<div class="message-body">
			        	<div class="editing">
			        		<textarea ng-model="message.text" ng-change="messages.$save(message)"></textarea>
			        		<a href="javascript:void(0)" ng-click="deleteMessage(message)">✘</a>
			        		<button ng-click="isEditing = false;">Done</button>
			        	</div>
			        </div>
		        </div>
	        </div>
	      </li>
	    </ul>
    </div>
  </body>
</html>