body {
	font-size: 16px; 
	color: #555;
	font-family: Roboto, sans-serif;
	margin: 0;
}

h1 {
	padding-left: 0.5em;
}

h2 a {
	margin-left: 10px;
}

.message-list {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

ul.column_1 li {
	background: #4DB6AC;
}

ul.column_1 .votes {
	background: #009688;
}

ul.column_2 li {
	background: #e57373;
}

ul.column_2 .votes {
	background: #ef5350;
}

ul.column_3 li {
	background: #BA68C8;
}

ul.column_3 .votes {
	background: #AB47BC;
}

.message {
	display: block;
	height: 8em;
	color: white;
	margin-bottom: 1em;
	border-radius: 2px;

	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.message-body {
	height: 5.6em;
	padding: 1em;
}

.votes {
	display: block;
	font-size: 0.9em;
	text-align: right;
	padding: 0.5em;
	right: 0;
	top: 98px;
	position: absolute;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-size: 1.2em;
}

h2 a {
	color: #00bcd4;
}

.message-body a {
	float: right;
}

.editing {
	transform: rotateY(-180deg) scale (1,1);
	-webkit-transform: rotateY(-180deg) scale(1,1);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
}

.message textarea {
	width: 100%;
	font-size: 16px;
  	height: 5.8em;
  	border: 1px solid #eee;
}

.message button {
	width: 50px;
	margin-top: 5px;
}

img {
	width: 13px;
}

button {
	cursor: pointer;
}

.message{
    perspective: 500;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    -o-perspective: 500;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.flip {
	transform: rotateY(180deg) scale(1.15,1.15);
	-webkit-transform: rotateY(180deg) scale(1.15,1.15);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);

	box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
	-moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}

header {
  background-color: #00bcd4;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 0px;
  z-index: 5;
  width: 100%;
  display: -webkit-box;
  display: flex;
  min-height: 44px;
  padding-left: 24px;
  padding-right: 24px;
}

header h1 {
	color: white;
}