body {
	font-size: 16px; 
	font-family: 'Open Sans', sans-serif;
}

h1 {
	padding-left: 1.25em;
}

.message-list {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.message {
	display: block;
	height: 8em;
	margin-bottom: 0.7em;
  	border: 1px solid #d6d6d6;
}

.message-body {
	height: 5.6em;
	padding: 0.5em;
}

.votes {
	display: block;
	font-size: 0.9em;
	text-align: right;
	padding: 0.2em 0.5em;
	background: #eee;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.message-body a {
	float: right;
}