<script type="text/ng-template" id="deleteCards">
  <p class="header">Danger Zone</p>
  <p>Are you sure you want to delete all cards?</p>
  <p>Once you delete all cards, there is no going back. Please be certain.</p>
  <button class="delete-button" ng-click="deleteCards()">Delete</button>
  <a ng-click="closeAllModals()">Cancel</a>
</script>
<script type="text/ng-template" id="copyBoard">
  <h1>Export Board</h1>
  <p>Select cards text with mouse and copy it</p>
  <p class="copy-text" ng-bind-html="getBoardText()"></p>
  <button ng-click="closeAllModals()">Close</button>
</script>
<script type="text/ng-template" id="addNewColumn">
  <h1>New column</h1>
  <input ng-model="newColumn" type="text" ng-keyup="submitOnEnter($event, 'addNewColumn', newColumn)"></input>
  <button ng-click="addNewColumn(newColumn); newColumn='';">Add</button>
</script>
<script type="text/ng-template" id="addNewBoard">
  <h1>New board</h1>

  <label>Board name</label>
  <input ng-model="newBoard.name" type="text" ng-keyup="submitOnEnter($event, 'createNewBoard')"></input>
  <label>Max votes per user <small>(whole board)</small></label>
  <input ng-model="newBoard.max_votes" type="number" ng-init="newBoard.max_votes = 6" ng-keyup="submitOnEnter($event, 'createNewBoard')"></input>
  <button ng-disabled="isBoardNameInvalid()" ng-click="createNewBoard()">Create</button>
</script>
<script type="text/ng-template" id="deleteCard">
  <h1>Delete note</h1>
  <p>Are you sure you want to delete this note?</strong></p>
  <button class="delete-button" ng-click="deleteMessage(message)">Delete</button>
  <a ng-click="closeAllModals()">Cancel</a>
</script>
<script type="text/ng-template" id="deleteColumn">
  <h1>Delete column</h1>
  <p>Are you sure you want to delete this column?</strong></p>
  <button class="delete-button" ng-click="deleteColumn(type)">Delete</button>
  <a ng-click="closeAllModals()">Cancel</a>
</script>
<script type="text/ng-template" id="mergeCards">
  <h1>Merge cards</h1>
  <p>Are you sure you want to merge these two cards?</strong></p>
  <button ng-controller="MessageCtrl" class="delete-button" ng-click="dropped(dragEl, dropEl)">Merge</button>
  <a ng-click="closeAllModals()">Cancel</a>
</script>
<script type="text/ng-template" id="importCards">
  <h1>Import cards</h1>
  <span >
    <p>1.<a type="file" ngf-select="submitImportFile($file)" ngf-pattern="text/csv" accept="text/csv" ngf-max-size="10KB">Submit</a> a csv file </p>
    <p>2. Setup fields mapping</button></p>
    <p ng-repeat="column in import.mapping track by $index">{{column.name}} 
      <select ng-model="column.mapFrom">
        <option select="selected" value="">[Select csv column]</option>
        <option ng-repeat="importColumn in import.data[0]" value="{{$index}}">{{importColumn}}</option>
      </select>
    </p>
    <button ng-click="importMessages()">Import</button>
    <a ng-click="closeAllModals()">Cancel</a>
    </span>
</script>
