<header ng-show="userId !== ''">
    <h1>Fun Retro</h1>
    <span>
      <span class="prime">
          <i class="fa fa-star"></i>
          Prime Directive
          <span>
            <blockquote>
                <p>Regardless of what we discover, we understand and truly believe that everyone did the best job they could, given what was known at the time, their skills and abilities, the resources available, and the situation at hand</p>
                <footer>In Project Retrospectives, Norm Kerth</footer>
            </blockquote>
          </span>
      </span>
      <a class="header-icon" target="_blank" href="https://github.com/funretro/distributed" aria-label="Github repo"><i class="fa fa-github"></i></a>
      <button class="first" ng-click="modalService.openAddNewBoard(this)">New board</button>
    </span>
</header>
