<div class="home" ng-show="userId === ''" ng-cloak>
  <section>
    <h1><img src="img/logo.png" alt="fun retro logo" />Fun Retro</h1>
    <button ng-click="modalService.openAddNewBoard(this)">NEW BOARD</button>
    <div id="mc_embed_signup">
      <form title="email subscription" action="//funretrospectives.us13.list-manage.com/subscribe/post?u=a1df66d58e9447064d73bf0bc&amp;id=405856384a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll">
          <fieldset class="subscribe">
            <legend>Email Subscription</legend>
            <h2>Wanna be notified of updates?</h2>
            <input type="email" title="email" value="" name="EMAIL" placeholder="Enter your email address" class="subscribe__email" id="mce-EMAIL" novalidate />
	          <input type="submit" title="email submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
          </fieldset>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
	          <input title="paypal pixel" type="text" name="b_a1df66d58e9447064d73bf0bc_405856384a" tabindex="-1" value="">
          </div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <p class="website">Learn more about retrospectives at <a href="http://funretrospectives.com" target="_blank">funretrospectives.com</a></p>
  </section>
  <section class="step">
    <h2>Set the context</h2>
    <img src="img/image1.png" alt="screenshot of set the context feature" />
    <p>
  Why is this retrospective being held? What will it cover? Retrospectives, similarly to any other meeting, are more effective if the participants align their expectations before getting into it.
    </p>
  </section>
  <section class="step">
    <h2>
      Read the prime directive
    </h2>
  <img src="img/image2.png" alt="screenshot of read the prime directive feature" />
  <p class="left">The statement is invaluable for setting the meeting tone. Make it visible to all participants, and read it out loud before running your retrospective activity.</p>
  </section>
  <section class="step">
    <h2>
      Go for it!
    </h2>
    <img src="img/image3.png" alt="screenshot of an example of a board" />
    <p>
  It is time to gather data, talk about the positive stuff, recognize people and seek improvements. Select an activity, create and customize your board. Go for it!
    </p>
  </section>
  <section>
    <button class="alone" ng-click="modalService.openAddNewBoard(this)">NEW BOARD</button>
  </section>
</div>
