<div ng-show="userId !== ''" class="menu">
  <h2>{{boardId}}</h2>
  <span class="menu-controls">
    <label class="menu-controls">Sort by</label>
    <select ng-model="sortField">
      <option value="$id">Created date</option>
      <option value="votes">Votes</option>
    </select>
    <button class="pull-right new-column" ng-show="board.columns.length < 6" ng-click="modalService.openAddNewColumn(this)">New column</button>
    <button class="pull-right delete-button" ng-click="modalService.openDeleteCards(this)">Delete cards</button>
  </span>
</div>
