/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Regular.eot?v=1.1.0");
  src: url("fonts/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("fonts/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("fonts/OpenSans-Regular.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

body {
  font-size: 14px;
  color: $dark-gray;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

iframe {
  vertical-align: top;
  margin-left: 10px;
  margin-top: 2px;
}

.add {
  margin-left: 10px;
  font-weight: bold;
  color: $teal;
  vertical-align: top;
  margin-top: 17px;
  display: inline-block;
}

.add:hover {
  color: $light-teal;
}

.add i {
  font-size: 0.9em;
}

ul {
  padding-left: 0;
}

h2 {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  max-width: 85%;
  font-size: 1.3em;
  line-height: 1em;
  min-width: 50px;
}

.controls {
  font-size: 0.9em;
  margin: 0;
  position: relative;
  top: -2px;
  left: -5px;
}

.container {
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.success-button {
  margin-top: 5px;
  margin-left: 0;
  height: 24px;
  padding: 0px;
  outline: none;
  width: 50px;
  background: $green;
  vertical-align: top;
}

.column-header {
  margin-bottom: 1em;
}

.editing-column {
  margin-bottom: 0.5em;
}

.editing-column input {
  color: $dark-gray;
  font-weight: bold;
  font-size: 1.3em;
  max-width: 300px;
}

.editing-column .blue {
  font-size: 0.9em;
  margin-left: 5px;
  position: relative;
  top: 7px;
}

ul {
  margin-top: 0;
}

#board-context {
  height: 36px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $dark-gray;
  border: none;
  padding-left: 14px;
  outline: none;
}

.delete {
  color: $red;
  vertical-align: top;
  margin-top: 19px;
  display: inline-block;
}

.delete:hover {
  color: $faded-red;
}

.pencil {
  font-size: 13px;
}

.editing .fa-times {
  font-size: 0.9em;
}

.fa-thumbs-o-up:hover:before {
  content: '\f164';
}

.fa-thumbs-o-up:hover {
  width: 12.8281px;
}

.fa-thumbs-o-down:hover:before {
  content: '\f165';
}

.fa-thumbs-o-down:hover {
  width: 12.8281px;
}


.fa-pencil:hover {
  color: $darkest-gray;
  opacity: 0.5;
}

.message-body a.delete-link {
  top: 10px;
  right: 10px;
  font-size: 1em;
  outline: none;
}

.edit {
  color: $green;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
}

img {
  width: 13px;
}

small {
  color: $lightest-gray;
  margin-left: 1em;
  font-size: .8em;
}

h1 {
  margin-left: 1.5em;
  margin-top: 2em;
}

input {
  background: white;
  border: 1px solid $lightest-gray;
  border-radius: 2px;
  padding: 3px 5px;
  width: 100%;
}

input[type="text"] {
  font-size: 18px;
  width: 200px;
}

.ngdialog-content h1 {
  margin: 0;
  margin-bottom: 0.5em;
}

.ngdialog-content {
  width: 350px !important;
}

.delete-button {
  margin-left: 0;
}

blockquote {
  font-family: 'PT Serif',serif;
  font-style: italic;
  margin: 0;

  p {
    position: relative;
    margin: 0 auto;
    padding: 5px 0;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
  }

  footer {
    margin: 3px;
    font-size: 13px;
    line-height: 20px;
    text-align: right;

    &:before {
      content: '\2014';
    }
  }
}

.message > div > .lvl-over {
  @include transition(none);
  outline: 2px dashed $lightest-gray !important;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

.feature-notification {
  width: 660px;
  height: 530px;
  position: fixed;
  text-align: center;
  top: 50px;
  left: 22%;
  background: white;
  padding: 30px;
  color: white;
  font-size: 18px;

  .feature {
    display: inline-block;
    width: 48%;
  }

  .title {
    font-size: 1.8em;
    font-weight: bold;
    color: $light-purple;
    display: inline-block;
  }

  button {
    margin: 0 auto;
    display: block;
    width: 120px;
    font-size: 16px;
    height: 37px;
    margin-top: 25px;
    background: $purple;
    border-bottom: 3px solid $light-purple;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 20px;
    color: $dark-gray;
  }

  .margin-top {
    margin-top: 20px;
  }

  img {
    width: 280px;
    border: 1px solid $lightest-gray;
  }

  a {
    text-decoration: underline;
    color: $yellow;
    font-size: 1.2em;
  }

  i {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $dark-gray;
    cursor: pointer;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
