body {
	font-size: 14px; 
	color: #555;
	font-family: Roboto, sans-serif;
	margin: 0;
}

iframe {
	vertical-align: top;
    margin-left: 10px;
    margin-top: 2px;
}

.add {
	margin-left: 10px;
	font-weight: bold;
	color: #00bcd4;
	vertical-align: top;
    margin-top: 17px;
    display: inline-block;
}

.add:hover {
	color: #0299AD;
}

.add i {
	font-size: 0.9em;
}

ul {
	padding-left: 0;
}

h2 {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
    max-width: 90%;
    font-size: 1.3em;
    line-height: 1em;
    min-width: 50px;
}

.controls {
	font-size: 0.9em;
    margin: 0;
    position: relative;
    top: -2px;
    left: -5px;
}

.container {
	width: 100%;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

.success-button {
	margin-top: 5px;
	margin-left: 0;
	height: 24px;
    padding: 0px;
    outline: none;
    width: 50px;
    background: #00C853;
    vertical-align: top;
}

.column-header {
	margin-bottom: 1em;
}

.editing-column {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

.editing-column input {
	color: #555;
    font-weight: bold;
    font-size: 1.3em;
    max-width: 300px;
}

.editing-column .blue {
	font-size: 0.9em;
    margin-left: 5px;
    position: relative;
    top: 7px;
}

.delete {
	color: #EF5350;
	vertical-align: top;
    margin-top: 19px;
    display: inline-block;
}

.delete:hover {
	color: #C33B38;
}

.pencil {
	font-size: 13px;
}

.editing .fa-times {
	font-size: 0.9em;
}

.fa-thumbs-o-up:hover:before {
	content: '\f164';
}

.fa-thumbs-o-up:hover {
	width: 12.8281px;
}

.fa-pencil:hover {
	color: #333;
	opacity: 0.5;
}

.message-body a.delete-link {
	top: 8px;
	right: 10px;
}

.edit {
	color: #00C853;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-size: 1.2em;
}

img {
	width: 13px;
}

small {
	color: #999;
	margin-left: 1em;
	font-size: .8em;
}

h1 {
	margin-left: 1.5em;
	margin-top: 2em;
}

input {
	background: white;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 3px 5px;
	width: 100%;
}

input[type="text"] {
	font-size: 18px;
	width: 200px;
}

.ngdialog-content h1 {
	margin: 0;
	margin-bottom: 0.5em;
}

.ngdialog-content {
	width: 350px !important;
}