@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/Roboto-Regular.eot?v=0.4.2");
  src: url("../fonts/Roboto-Regular.eot?#iefix&v=0.4.2") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff?v=0.4.2") format("woff"), url("../fonts/Roboto-Regular.ttf?v=0.4.2") format("truetype"), url("../fonts/Roboto-Regular.svg?v=0.4.2") format("svg");
}

@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/Roboto-Bold.eot?v=0.4.2");
  src: url("../fonts/Roboto-Bold.eot?#iefix&v=0.4.2") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff?v=0.4.2") format("woff"), url("../fonts/Roboto-Bold.ttf?v=0.4.2") format("truetype"), url("../fonts/Roboto-Bold.svg?v=0.4.2") format("svg");
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $grey;
}

.pull-right {
  align-self: flex-end;
}

iframe {
  width: 100px;
  margin-top: 2px;
  margin-left: 10px;
  vertical-align: top;
}

.add {
  display: inline-block;
  margin-top: 17px;
  margin-left: 10px;
  font-weight: bold;
  color: $teal;
  vertical-align: top;
}

strong {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.add:hover {
  color: $light-teal;
}

.add i {
  font-size: 0.9em;
}

ul {
  padding-left: 0;
}

h2 {
  display: inline-block;
  min-width: 50px;
  max-width: 85%;
  margin-bottom: 0;
  font-family: "RobotoBold";
  font-size: 1.3em;
  line-height: 1em;
  cursor: pointer;
}

.controls {
  position: relative;
  top: -2px;
  left: -5px;
  margin: 0;
  font-size: 0.9em;
}

.container {
  display: -webkit-box;
  display:    -moz-box;
  display: -ms-flexbox;
  display:    -moz-flex;
  display: -webkit-flex;
  display:         flex;
  width: 100%;
  padding-bottom: 35px;

  -ms-box-orient: horizontal;
}

.success-button {
  width: 50px;
  height: 24px;
  padding: 0;
  margin-top: 5px;
  margin-left: 0;
  vertical-align: top;
  background: $green;
}

.column-header {
  margin-bottom: 1em;
}

.editing-column {
  margin-bottom: 0.5em;
}

.editing-column input, .editing-board-name input {
  max-width: 300px;
  font-size: 1.3em;
  font-weight: bold;
  color: $dark-gray;
}

.editing-column .blue {
  position: relative;
  top: 7px;
  margin-left: 5px;
  font-size: 0.9em;
}

ul {
  margin-top: 0;
}

#board-context {
  height: 36px;
  padding-left: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $grey;
  border: none;
}

#board-name + .fa-pencil {
  display: none;
}

#board-name:hover + .fa-pencil {
  display: inline-block;
}

.editing-board-name button.success-button,
.editing-board-name input,
.editing-board-name a.blue {
  vertical-align: middle;
  margin: 0 5px 0 0;
}

.editing-board-name a.blue {
  font-size: .9em;
}

.delete {
  display: inline-block;
  margin-top: 19px;
  color: $red;
  vertical-align: top;
}

.delete:hover {
  color: $faded-red;
}

.pencil {
  font-size: 13px;
}

.editing .fa-times {
  font-size: 0.9em;
}

a:not(.disabled) .fa-thumbs-o-up:hover:before {
  content: '\f164';
}

a:not(.disabled) .fa-thumbs-o-up:hover {
  width: 12.8281px;
}

.fa-pencil:hover {
  color: $darkest-gray;
  opacity: 0.5;
}

.message-body a.delete-link {
  top: 10px;
  right: 10px;
  font-size: 1em;
}

.edit {
  color: $green;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 13px;
}

small {
  margin-left: 0.5em;
  font-size: 1em;
  color: $light-grey;
}

h1 {
  margin-top: 2em;
  margin-left: 1.5em;
}

input {
  width: 100%;
  padding: 3px 5px;
  background: white;
  border: 1px solid $lightest-gray;
}

input[type="text"], input[type="number"] {
  width: 200px;
  font-size: 18px;
}

.ngdialog-content h1 {
  margin: 0;
  margin-bottom: 0.5em;
}

.ngdialog-content {
  width: 350px !important;
}

.ngdialog.bigDialog {
  padding-top: 60px;

  .ngdialog-content {
    width: 700px !important;
  }
}

.ngdialog .delete-button {
  margin-left: 0;
}

blockquote {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-style: italic;

  p {
    position: relative;
    padding: 5px 0;
    margin: 0 auto;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
  }

  footer {
    margin: 3px;
    font-size: 13px;
    line-height: 20px;
    text-align: right;

    &:before {
      content: '\2014';
    }
  }
}

.message > div > .lvl-over {
  @include transition(none);
  outline: 2px dashed $lightest-gray !important;
}

[draggable] {
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;

   -khtml-user-select: none;
}

.danger p.header {
  position: relative;
  top: -18px;
  left: -23px;
  width: 350px;
  padding: 10px 17px !important;
  margin: 0;
  margin-bottom: -10px;
  font-size: 1.3em;
  color: white !important;
  background: #df3e3e;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.copy-text {
  padding: 15px;
  margin: 20px 0;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.filter-mobile {
  display: none;

  @media (max-width: 500px) {
    display: flex;
    padding: 0 15px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #eee;
  }

  select {
    flex-grow: 2;
  }
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
  padding: 1.2em 1.5em 1.5em;

  h1 {
    font-size: 1.7em;
  }

  label {
    display: inline-block;
    padding: 15px 0 10px 0;
    font-size: 16px;
  }

  input {
    display: block;
    width: 250px;
    height: 30px;
    font-size: 16px;
  }

  button {
    height: auto;
    padding: 5px 10px;
    margin: 0;
    margin-top: 1.5em;
    font-size: 16px;
    border-radius: 0;
  }
}
