button, .button {
  width: auto;
  padding: 5px 8px;
  margin-left: 10px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
  background: $light-teal;
  border: 0;
  border-bottom: 2px solid $dark-blue;
  border-radius: 2px;
  transform: translate3d(0px, 0px, 0px);

  &.first {
    background: $purple;
    border-bottom: 2px solid $light-purple;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  &.delete-button {
    background: #df3e3e;
    border-color: darken(#df3e3e, 15%);
  }
}

header button:hover {
  position: relative;
  top: 2px;
  margin-bottom: 2px;
  border-bottom: 0;
}

.ngdialog-content button {
  height: 28px;
  font-size: 1em;
  vertical-align: top;
}

.ngdialog-content a {
  margin-left: 10px;
  font-size: 1em;
  color: $light-teal;
}

.ngdialog-content button:hover, .editing-column button:hover {
  position: relative;
  top: 1px;
  border-bottom: 0;
}

.message button:hover {
  bottom: 13px;
  border-bottom: 0;
}

.message button {
  position: absolute;
  bottom: 14px;
  left: 14px;
  width: 43px;
  height: 20px;
  padding: 0;
  margin-left: 0;
  font-size: .7em;
  line-height: 2em;
  background: $green;
}

.success-button, .message button {
  border-bottom: 2px solid $light-green;
}
