$column-colors-main: #009688, #e91e63, #9c27b0, #3f51b5, #2196f3, #ff5722;
$column-colors-votes: #00796b, #c2185b, #7b1fa2, #283593, #1976d2, #e64a19;
$darkest-gray: #333;
$grey: #555;
$light-grey: #777;
$dark-gray: #8c8c8c;
$lightest-gray: #d6d6d6;
$lighter-gray: #ccc;
$almost-white: #eee;
$yellow: #ffcf22;
$teal: #2196f3;
$light-teal: #3f51b5;
$dark-blue: #283593;
$light-green: #00a946;
$green: #00c853;
$red: #f44336;
$faded-red: #d32f2f;
$light-purple: #9c27b0;
$purple: #8e24aa;
$danger: #df3e3e;
$info-msg: #059;
$info-msg-back: #bef;
$success-msg: #270;
$success-msg-back: #dff2bf;
$warning-msg: #9f6000;
$warning-msg-back: #feefb3;
$error-msg: #d8000c;
$error-msg-back: #ffbaba;
$outline-color: #ffa000;
