$column-colors-main: #4DB6AC, #e57373, #BA68C8, #64B5F6, #FFCA28, #FFA000;
$column-colors-votes: #009688, #E6403D, #AB47BC, #039BE5, #FFB300, #F57C00;

$grey: #555;
$darkest-gray: #333;
$dark-gray: #8C8C8C;
$lightest-gray: #D6D6D6;
$yellow: #FFCF22;
$teal: #00BCD4;
$light-teal: #0299AD;
$dark-blue: #017280;
$light-green: #00A946;
$green: #00C853;
$red: #EF5350;
$faded-red: #C33B38;
$light-purple: #9A38AB;
$purple: #BA68C8;
