/* stylelint-disable selector-max-specificity selector-max-id  */

.home {
  section {
    padding: 60px;
    margin: 0;
    font-size: 16px;
    text-align: center;

    @media (max-width: 500px) {
      padding: 10px;
    }

    &.step {
      padding: 80px;
      color: white;

      @media (max-width: 500px) {
        padding: 15px;
      }

      &:nth-child(3n + 1) {
        background: $purple;
      }

      &:nth-child(3n + 2) {
        background: $light-teal;
      }

      &:nth-child(3n + 3) {
        background: $red;
      }
    }
  }

  a,
  a:visited,
  a:focus {
    color: $purple;
  }

  p.website {
    width: 100%;
    margin: 0;
    margin-top: 30px;

    @media (max-width: 500px) {
      margin-bottom: 20px;
    }

    a {
      display: block;
      font-size: 1em;
    }
  }

  h1 {
    margin-top: 0;
    margin-left: 0;
    font-size: 3em;

    img {
      width: 35px;
      margin-right: 15px;
    }
  }

  p {
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 18px;
    line-height: 1.8em;
    vertical-align: top;

    @media (max-width: 500px) {
      width: 100%;
      margin-left: 0;
    }

    &.left {
      margin-right: 40px;
      margin-left: 0;
    }
  }

  img {
    display: inline-block;
    width: 400px;

    @media (max-width: 500px) {
      width: 100%;
      margin-top: 20px;
    }
  }

  form fieldset {
    border: none;
  }

  .subscribe__email {
    width: 30%;
    height: 40px;
    font-size: 16px;

    @media (max-width: 800px) {
      width: 80%;
      margin-bottom: 10px;
    }
  }

  form input[type='submit'] {
    width: auto;
    height: 40px;
    padding: 5px 25px;
    margin-left: 10px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background: $light-teal;
    border: 0;
    border-bottom: 2px solid $dark-blue;
    border-radius: 2px;
    transform: translate3d(0, 0, 0);
  }

  .second {
    width: 120px;
    height: 40px;
    vertical-align: top;

    @media (max-width: 500px) {
      margin-top: 20px;
    }
  }

  button,
  .button {
    display: block;
    width: 160px;
    height: 47px;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 16px;
    color: white;
    background: $purple;
    border-bottom: 3px solid $light-purple;

    &.alone {
      margin: 0 auto;

      @media (max-width: 500px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  ul {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.4em;
    list-style: none;
  }

  .donation {
    display: block;
    width: 200px;
    margin: 0 auto;
  }

  .heart {
    color: red;
  }

  h2 {
    display: block;
    max-width: 100%;
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 1em;
    font-size: 1.6rem;
    font-weight: 100;

    @media (max-width: 500px) {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
  }
}

.home .sponsor-link img {
  width: 150px;
}

.carbon-wrap {
  display: block;
  max-width: 360px;
  padding: 1em;
  margin: 1em auto 0;
  overflow: hidden;
  background-color: rgba(142, 36, 170, 0.13);
  border-radius: 2px;

  span {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .carbon-text {
    width: auto;
    max-width: calc(100% - 135px - 1em);
    color: #fff;
    text-align: left;
  }

  a.carbon-text,
  input[type="submit"] {
    position: relative;
    top: 0;
    display: inline-block;
    width: 150px;
    font-size: 13px;
    color: $purple;
    vertical-align: top;
  }

  .carbon-img {
    display: inline-block;
    float: left;
    height: 100px;
    margin-right: 1em;
  }
}

.carbon-poweredby {
  display: block;
  margin: 1em 0 2em;
  font-size: 14px;
  color: $purple;
}
