.home {
  section {
    text-align: center;
    margin: 0;
    padding: 60px;
    font-size: 16px;

    &.step {
      padding: 80px;
      color: white;

      &:nth-child(3n + 1) {
        background: $purple;
      }

      &:nth-child(3n + 2) {
        background: $light-teal;
      }

      &:nth-child(3n + 3) {
        background: $red;
      }
    }
  }

  h1 {
    font-size: 3em;
    margin-left: 0;
    margin-top: 0;

    img {
      width: 35px;
      margin-right: 15px;
    }
  }

  p {
      width: 40%;
      margin: 0 auto;
      line-height: 1.8em;
      font-size: 18px;
      display: inline-block;
      vertical-align: top;
      margin-top: 30px;
      margin-left: 40px;

      &.left {
        margin-left: 0;
        margin-right: 40px;
      }
  }

  img {
    width: 400px;
    display: inline-block;
  }

  button, .button {
    font-size: 16px;
  }

  .second {
    height: 40px;
    vertical-align: top;
    width: 120px;
  }

  button {
    margin: 0 auto;
    display: block;
    width: 160px;
    height: 47px;
    margin-top: 60px;
    background: $purple;
    border-bottom: 3px solid $light-purple;

    &.alone {
      margin: 0 auto;
    }
  }

  ul {
    line-height: 1.4em;
    display: inline-block;
    list-style: none;
    font-size: 16px;
    margin-top: 20px;
  }

  h2 {
    font-size: 2.7em;
    font-weight: 100;
    margin-bottom: 1.5em;
    margin-top: 0;
    display: block;
    margin-right: 0;
    max-width: 100%;
  }
}
