.menu {
  position: relative;
  top: -1px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  overflow: hidden;
  border-bottom: 2px solid $almost-white;

  h2 {
    margin-top: 0;
    margin-right: 10px;

    @media (max-width: 500px) {
      display: block;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 500px) {
    display: block;

    .menu-controls {
      display: flex;
    }

    select {
      flex-grow: 2;
    }

    .new-column {
      display: none;
    }
  }

  h2,
  label {
    line-height: 1.3em;
  }
}

.remaining-votes {
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 2px;
  box-shadow: 0 0 0 0 rgba($teal, 0.5);
  animation: pulse 1.5s;

  strong {
    margin: 0;
    font-size: 1.3em;
    color: $teal;
  }

  @keyframes pulse {
    70% {
      box-shadow: 0 0 0 50px rgba($teal, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba($teal, 0);
    }
  }
}
