@for $i from 1 through 6 {
  ul.column_#{$i} .front,
  ul.column_#{$i} .back {
    min-height: 52px;
    background: nth($column-colors-main, $i);
  }

  ul.column_#{$i} {
    .votes {
      .vote-area {
        padding: 2px 7px;
        margin: 0;
        background: nth($column-colors-votes, $i);
      }
    }

    .disabled i {
      color: nth($column-colors-main, $i);
      cursor: not-allowed;
    }
  }

  ul.column_#{$i} .message-votes li {
    background: nth($column-colors-votes, $i);
  }
}

.hide-vote-count {
  display: none;
}

.show-vote-count {
  display: inline;
}

.message-list {
  padding-bottom: 15px;
  margin-left: 15px;
  flex-basis: 0;
  flex-grow: 1;

  @media (max-width: 500px) {
    margin: 0 15px;

    &:not(.selected) {
      display: none;
    }
  }

  &:last-child {
    margin-right: 15px;
  }
}

.text {
  padding-top: 0.1em;
  padding-right: 15px;
  padding-left: 0.1em;
  font-size: 14.3px;
  word-break: break-word;
  white-space: pre-line;

  a {
    text-decoration: underline;
  }
}

.message-body {
  padding: 0.5em;

  .message-body-link {
    position: absolute;
    top: 0.4em;
    right: 0.5em;
  }

  .delete-link {
    top: auto;
    right: 12px;
    bottom: 12px;
    left: auto;
    font-size: 1em;
  }
}

.votes {
  @include position(absolute, null 0 0 null);
  display: flex;
  height: 22px;
  font-size: 0.89em;
  text-align: right;
  align-items: center;

  .fa-times {
    margin-right: 5px;
    font-size: 1.1em;
    color: white;
  }
}

.placeholder {
  width: 90%;
  color: white;
  word-break: break-word;
  white-space: pre-line;
  visibility: hidden;
}

.message {
  position: relative;
  display: block;
  height: auto;
  padding-bottom: 20px;
  margin-bottom: 29px;
  background: transparent;
  border-radius: 2px;

  textarea {
    @include size(100% 100%);
    padding: 0.3em 0.5em;
    padding-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    resize: none;
    border: none;
  }
}

.message .filter .text {
  filter: blur(4px);
}

.message .front {
  @include position(absolute, 0 null null 0);
  @include size(100% 100%);
  z-index: 9;
  padding-bottom: 1em;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.message .back {
  @include position(absolute, 0 null null 0);
  @include size(100% 100%);
  z-index: 8;
  padding-bottom: 1em;
  color: white;
}

.message.flip .front {
  z-index: 9;
}

.message.flip .back {
  z-index: 10;
}

.back a {
  color: $danger;

  &:hover {
    color: darken($danger, 15%);
  }
}

.message-votes {
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    list-style: none;
    border-radius: 10px;
  }
}
