#mc_embed_signup_scroll {
  margin-top: 70px;

  h3 {
    color: $light-grey;
  }

  .email {
    width: 300px;
    height: 40px;
    font-size: 16px;

    &.valid {
      border: 3px solid $green;
    }

    &.mce_inline_error {
      border: 3px solid $red;
      outline: none;
    }
  }

  #mce-responses, .mce_inline_error:not(.email) {
    display: none !important;
  }
}
