.vote-settings {
  .increment-button,
  .decrement-button {
    color: white;
  }
}

.ngdialog-content .vote-settings button.increment-button {
  margin-top: 0;
  margin-right: 3px;
  border-radius: 3px;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content .hide-vote {
  min-width: 80px;
  margin-left: 0;
  border-radius: 3px;
  margin-top: 0;
}
