.vote-settings {
  .increment-button,
  .decrement-button {
    color: white;
  }
}

.ngdialog-content .vote-settings button.increment-button {
  margin-top: 0;
  margin-right: 3px;
  border-radius: 3px;
}
