<header>
  <h1>Fun Retro</h1>
  <div>
    <div class="prime">
      <i class="fa fa-star"></i> 
      Prime Directive
      <blockquote>
        <p>Regardless of what we discover, we understand and truly believe that everyone did the best job they could, given what was known at the time, their skills and abilities, the resources available and the situation at hand</p>
        <footer>In Project Retrospectives, Norm Kerth</footer>
      </blockquote>
    </div>
    <button id="copy-board" ng-click="modalService.openCopyBoard(this)">Export board</button>
    <button class="first" ng-click="modalService.openAddNewBoard(this)">New board</button>
  </div>
</header>

<section class="menu">
  <h2>boardId</h2>
  <div class="menu-controls">
    <label class="menu-controls">Sort by</label>
    <select ng-model="sortField">
      <option value="$id">Created date</option>
      <option value="votes">Votes</option>
    </select>
    <button class="pull-right new-column" ng-click="modalService.openAddNewColumn(this)">New column</button>
    <!--<button class="pull-right new-column" ng-show="board.columns.length < 6" ng-click="modalService.openAddNewColumn(this)">New column</button>-->
    <button class="pull-right delete-button" ng-click="modalService.openDeleteCards(this)">Delete cards</button>
  </div>
</section>

<div class="filter-mobile">
  <label>Filter by</label>
  <select ng-model="selectedType" ng-options="column.id as column.value for column in board.columns"></select>
  <button class="pull-right new-column" ng-show="board.columns.length < 6" ng-click="modalService.openAddNewColumn(this)">New column</button>
</div>

<footer>
  Fun Retro
  <iframe src="https://ghbtns.com/github-btn.html?user=funretro&repo=distributed&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
</footer>
